@font-face {
    font-family: 'LaosPatuxai';
    src: url('./laos_patuxai.ttf') format('truetype'); 
    font-weight: 100; 
    font-style: normal;
    unicode-range: U+0E80-0EFF;
}

@font-face {
    font-family: 'LaosPatuxai';
    src: url('./laos_patuxai.ttf') format('truetype'); 
    font-weight: 200; 
    font-style: normal;
    unicode-range: U+0E80-0EFF;
}

@font-face {
    font-family: 'LaosPatuxai';
    src: url('./laos_patuxai.ttf') format('truetype'); 
    font-weight: 300; 
    font-style: normal;
    unicode-range: U+0E80-0EFF;
}

@font-face {
    font-family: 'LaosPatuxai';
    src: url('./laos_patuxai.ttf') format('truetype'); 
    font-weight: 400; 
    font-style: normal;
    unicode-range: U+0E80-0EFF;
}

@font-face {
    font-family: 'LaosPatuxai';
    src: url('./laos_patuxai.ttf') format('truetype'); 
    font-weight: 500; 
    font-style: normal;
    unicode-range: U+0E80-0EFF;
}

@font-face {
    font-family: 'LaosPatuxai';
    src: url('./laos_patuxai.ttf') format('truetype'); 
    font-weight: 600; 
    font-style: normal;
    unicode-range: U+0E80-0EFF;
}

@font-face {
    font-family: 'LaosPatuxai';
    src: url('./laos_patuxai.ttf') format('truetype'); 
    font-weight: 700; 
    font-style: normal;
    unicode-range: U+0E80-0EFF;
}

@font-face {
    font-family: 'LaosPatuxai';
    src: url('./laos_patuxai.ttf') format('truetype'); 
    font-weight: 800; 
    font-style: normal;
    unicode-range: U+0E80-0EFF;
}

@font-face {
    font-family: 'LaosPatuxai';
    src: url('./laos_patuxai.ttf') format('truetype'); 
    font-weight: 900; 
    font-style: normal;
    unicode-range: U+0E80-0EFF;
}