@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  html,
  .ant-input {
    font-family: "LaosPatuxai", "Montserrat", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
